<section class="login flex flex--column flex--center">

  <img class="login__logo" src="./../../images/jjb-logo.png" alt="logo">
  <img class="login__text-logo" src="./../../images/jjb-text-logo.png" alt="text-logo">

  <form class="login__form flex flex--column js-login-form">

    <input type="text" name="username" placeholder="Usuario">

    <input type="password" name="password" placeholder="Contrase&ntilde;a">

    <button  type="submit" class="btn btn--primary">Iniciar Sesi&oacute;n</button>

  </form>

</section>
