<div class="card">
  <div class="card__image">
    <img class="card__image-avatar" src="http://uscdn02.mundotkm.com/2015/08/casa-31.jpg" alt="User Avatar" onerror="this.onerror=null;this.src='./../../images/jjb-logo.png';">
    <i class="card__icon glyphicon glyphicon-ok"></i>
  </div>
  <div class="card__content-wrapper">
    <span class="card__title">
      Titulo Nota
    </span>
    <span class="card__subtitle">
      Autor: Liliana Manrique | Fecha 15/02/2015
    </span>
    <span class="card__description">
      Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt
    </span>
  </div>
  <i class="card__options"></i>
</div>

<div class="card">
  <div class="card__image">
    <img class="card__image-avatar" src="http://uscdn02.mundotkm.com/2015/08/cara-31.jpg" alt="User Avatar" onerror="this.onerror=null;this.src='./../../images/jjb-logo.png';">
    <i class="card__icon glyphicon glyphicon-ok"></i>
  </div>
  <div class="card__content-wrapper">
    <span class="card__title">
      Titulo Nota
    </span>
    <span class="card__subtitle">
      Autor: Liliana Manrique | Fecha 15/02/2015
    </span>
    <span class="card__description">
      Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt
    </span>
  </div>
  <i class="card__options"></i>
</div>

<div class="card card-selected">
  <div class="card__image">
    <img class="card__image-avatar" src="http://uscdn02.mundotkm.com/2015/08/cara-31.jpg">
    <i class="card__icon glyphicon glyphicon-ok"></i>
  </div>
  <div class="card__content-wrapper">
    <span class="card__title">
      Titulo Nota
    </span>
    <span class="card__subtitle">
      Autor: Liliana Manrique | Fecha 15/02/2015
    </span>
    <span class="card__description">
      Lorem ipsum dolor sit amet, consectetur adip iscing sed do eiusmod tempor incididunt
    </span>
  </div>
  <i class="card__options"></i>
</div>

<div class="card device-locked">
  <div class="card__image">
    <i class="card__icon glyphicon glyphicon-unlock"></i>
    <i class="card__icon glyphicon glyphicon-lock"></i>
  </div>
  <div class="card__content-wrapper">
    <span class="card__title">
      Motorola G2
    </span>
    <span class="card__subtitle">
      Bloqueado por Juan Martin Gonzalez
    </span>
    <span class="card__footer">
      Desde el 21/07/16 al 22/07/16
    </span>

  </div>
  <i class="card__options"></i>
</div>

<div class="card device-unlocked">
  <div class="card__image">
    <i class="card__icon glyphicon glyphicon-unlock"></i>
    <i class="card__icon glyphicon glyphicon-lock"></i>
  </div>
  <div class="card__content-wrapper">
    <span class="card__title">
      Samsung Galaxy S6
    </span>
    <span class="card__subtitle">
      Desbloqueado
    </span>
    <span class="card__footer">
    </span>
  </div>
  <i class="card__options"></i>
</div>
