<section class="container login">
	<div class="row">
		<div class="col-xs-12">
			<form name="" class="" actian="#">
				<div class="form-group">
					<input type="text" name="user" placeholder="Username">
					<input type="text" name="user" placeholder="Username">
					<button type="submit" class="btn btn-primary">Enviar</button>
					<button type="submit" class="btn btn-danger">Cancelar</button>
				</div>
			</form>
			<p>Login value: {{ name }}</p>
		</div>
	</div>
</section>

