@import './../../less/variables.less';

.flex-container {
	background-image: url('./../../images/login-bg.png');
	background-size:cover;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height:100%;
}
.login{		
	flex:1;	
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	&__logo{
		margin-bottom: 10%;
		max-width: 40%;
	}
	&__text-logo{
		margin-bottom: 10%;
		max-width: 40%;
	}	
}
.login-form{	
	min-width:60%;	
	&__group{
		position:relative;
	}
	&__input{
		padding-left:47px;	
	}
	&__icon{
		left: 12px;
		position: absolute;
		width:25px;
		top:15%;
	}
}