@import 'variables.less';

body, html {
  display: flex;
  flex-direction: column;
  background-color: @gray-lighter;
}

html {
  min-height: 100%;
}

body {
  flex: 1;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 10px 10px 10px;
}
