.login-wrapper{
  flex: 1;
  background-image: url('./../../../images/login-bg.png');
	background-size: cover;
}

.login{
  max-width: 400px;
  text-align: center;

  &__logo{
    display: block;
		margin: 0 auto 10% auto;
		max-width: 40%;
	}

  &__text-logo {
    display: block;
		margin: 0 auto 10% auto;
		max-width: 40%;
	}


  &__form {
    max-width: 300px;
    margin: 0 auto;
	}
}
