.jjb-navbar{
  background-color: @brand-primary;

  &__back{
    float: left;
    background: transparent;
    border: none;
    width: @navbar-item-width;
    .item;
  }

  &__title{
    float:left;
    .item;
  }

  &__action-buttons{
    .item;
    float: right;
    margin-bottom: 0;
    li {
      padding: 0 @navbar-padding-horizontal;
      float: right;
      list-style: none;
      a{
        color : @white;
        text-decoration: none;
      }
    }
  }
}
