.jjb-navbar{
  margin-bottom: 15px;
  background-color: @brand-primary;
  color : @white;
  font-size: @font-size-large;

  &__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    ul {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      height: @navbar-height;
    }
  }

  &__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }

  &__action-buttons{
    display: flex;
    flex-direction: row;

    &--left{
      justify-content: flex-start;
    }

    &--right{
      justify-content: flex-end;
    }

    .glyphicon {
      height: @navbar-height;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: @navbar-item-padding;
      padding-right: @navbar-item-padding;
    }

    li {
      list-style: none;
      a {
        height: @navbar-height;
        color : @white;
        text-decoration: none;
      }
    }
  }
}
