@import 'variables.less';

@font-face {
  font-family: 'Raleway-Regular';
  src: url('@{font-path}Raleway-Regular.eot');
  src: local('☺'), url('@{font-path}Raleway-Regular.woff') format('woff'), url('@{font-path}Raleway-Regular.ttf') format('truetype'), url('@{font-path}Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
