<section class="flex flex--fit flex--column ">

  {{#detail.data}}
    <div class="detail">
      <div class="detail__leftdata">
        {{key}}
      </div>
      <div class="detail__rigthdata">
        {{data}}
      </div>
    </div>
  {{/detail.data}}
</section>
