<!-- Details -->

        <div><p class=" detail-title pull-left">Marca:</p> <p class="detail-value pull-right">{{ detail.data.brand }}</p></div>
        <div><p  class="detail-title pull-left">Modelo:</p> <p class="detail-value pull-right">{{ detail.data.model }}</p></div>
        <div><p  class="detail-title pull-left">Tag:</p> <p class="detail-value pull-right">{{ detail.data.tag }}</p></div>
        <div><p  class="detail-title pull-left">Serial:</p> <p class="detail-value pull-right">{{ detail.data.serial }}</p></div>
        <div><p  class="detail-title pull-left">Proyecto:</p> <p class="detail-value pull-right">{{ detail.data.project }}</p></div>
        <div><p  class="detail-title pull-left">Sistema Operativo:</p> <p class="detail-value pull-right">{{ detail.data.os }}</p></div>
        <div><p  class="detail-title pull-left">Versión:</p> <p class="detail-value pull-right">{{ detail.data.version }}</p></div>
        <div><p  class="detail-title pull-left">Resolución:</p> <p class="detail-value pull-right">{{ detail.data.resolution }}</p></div>

<!-- end Details -->
