<section class="devices-detail__wrapper">

  <div class="devices-detail__title">
  {{title}}
  </div>

  {{#detail}}
    <div class="devices-detail flex">
      <div class="detail__leftdata">
        {{key}}
      </div>
      <div class="detail__rigthdata">
        {{data}}
      </div>
    </div>
  {{/detail}}
</section>
