<nav class="navbar navbar-horizontal js-jjb-navbar hidden">
    <!-- Left buttons -->
    <ul class="js-navbar__list-left navbar__list-left"></ul>

    <!-- Title -->
    <span class="js-jjb-navbar__title navbar__title"></span>

    <!-- Right buttons -->
    <ul class="js-navbar__list-right navbar__list-right"></ul>
</nav>
