<nav class="navbar js-jjb-navbar jjb-navbar hidden">
  <div class="js-jjb-navbar__items jjb-navbar__items">

    <!-- Left buttons -->
    <ul class="jjb-navbar__action-buttons js-jjb-navbar__action-buttons-left jjb-navbar__action-buttons-left"></ul>

    <!-- Title -->
    <span class="js-jjb-navbar__title jjb-navbar__title"></span>

    <!-- Right buttons -->
    <ul class="jjb-navbar__action-buttons js-jjb-navbar__action-buttons-right jjb-navbar__action-buttons-right"></ul>
  </div>
</nav>
