<nav class="navbar navbar-vertical js-jjb-navbar">
  <ul class="navbar__list">
    <li class="navbar__button-wrapper">
      <img class="navbar__avatar js-avatar" src="" height="50">
      <a href="#/" class="navbar__button">Logout</span>
    </li>
    <li class="navbar__button-wrapper">
      <a href="#/" class="navbar__button"><span class="glyphicon glyphicon-phone"></span></a>
    </li>
    <li class="navbar__button-wrapper">
      <a href="#/calendar" class="navbar__button"><span class="glyphicon glyphicon-calendar"></span></a>
    </li>
    <li class="navbar__button-wrapper">
      <a href="#" class="navbar__button"><span class="glyphicon glyphicon-file"></span></a>
    </li>
    <li class="navbar__button-wrapper">
      <a href="#" class="navbar__button"><span class="glyphicon glyphicon-info-sign"></span></a>
    </li>
  </ul>
</nav>
